*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'iFood RC Titulos', 'iFood RC Textos', Helvetica, sans-serif;
}
header {
  display: flex;
  height: 50px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.menu ul{
    display: flex;
    list-style: none;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu ul li a {
  display: block;
  padding: 15px 20px;
  color: rgb(26, 24, 24);
  text-decoration: none;
  margin-top: 35px;
}
.logo-menu img{
    border-radius: 50%;
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.Entrar, .criarcont {
    height: 45px;
    width: 130px;
    padding: 0 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}
.Entrar{
    color: white;
    background-color:#EE4C58;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.criarcont{
    color: #EE4C58;
    margin-right: 20px;
    margin-left: 180px;
    background-color: #fff;
}
.inicio{
    margin-top: 5%;
    text-align: center;
    color: #333;
}
.busca {
  display: flex;
  justify-content:center;
  padding: 1rem;
  margin-top: 3%;
  gap: 10px;
}
 #Caixa-Pesquisa {
  width: 20%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: #F5F5F5;
}
#Buscar {
  width: 6%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  background-color: #e41d3e;
  border: 0;
  color: #F5F5F5;
  font-size: 20px;
  cursor: pointer;
}
.categorias-servicos1,.categorias-servicos2{
  display: flex;
  height: 180px;
  justify-content: center;
  margin-top: 2%;
}
.categorias-servicos1{
  gap: 3%;
}
.categorias-servicos2{
  gap: 3%;
}
.servece1,.servece2{
  width: 22%;
  height: 100%;
  border-radius: 10px;
}
.servece1{
 background-color: #EA1D2C;
 text-align: center;
 color: white;
}
.servece2{
  background-color: #B6D048;
}
.servece3,.servece4,.servece5{
  width: 13.5%;
  height: 100%;
  border-radius: 10px;
  background-color: #9ce22c;
}
.restaurante{
  display: flex;
  padding-top: 20px;
  width: 70%;
}
.burg-img{
  transform: translate(60px, -18px);
}
.box1{
  width: 480px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 7px;
  margin-left: 9%;
  margin-top: 20%;
}

@media (max-width: 768px) {

.menu ul li a,.inicio {
  display: none;
}
.busca {
  flex-direction: column;
  align-items: center;
}
 #Caixa-Pesquisa {
display: none;
}
#Buscar {
  width: 98%;
}
.Entrar{
  margin-right: 20px;
}
.criarcont{
  display: none;
}
header {
  justify-content: space-between;
}
.servece1,.servece2{
  width: 42%;
}
.servece3,.servece4,.servece5{
  width: 26.5%;
  height: 60%;
}
.categorias-servicos1{
  gap: 6%;
}
.categorias-servicos2{
  gap: 5%;
}
.restaurante{
  width: 95%;
}
.burg-img{
  transform: translate(10px, -38%);
}
}

