*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'iFood RC Titulos', 'iFood RC Textos', Helvetica, sans-serif;
}
header {
  display: flex;
  height: 50px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.menu ul{
    display: flex;
    list-style: none;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu ul li a {
  display: block;
  padding: 15px 20px;
  color: rgb(26, 24, 24);
  text-decoration: none;
  margin-top: 35px;
}
.logo-menu img{
    border-radius: 50%;
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.Entrar, .criarcont {
    height: 45px;
    width: 130px;
    padding: 0 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}
.Entrar{
    color: white;
    background-color:#EE4C58;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.criarcont{
    color: #EE4C58;
    margin-right: 20px;
    margin-left: 180px;
    background-color: #fff;
}
.inicio{
    margin-top: 6%;
    text-align: center;
    color: #333;
}
.busca {
  display: flex;
  justify-content:center;
  padding: 1rem;
  margin-top: 4%;
  gap: 10px;
}
 #Caixa-Pesquisa {
  width: 52%;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: #F5F5F5;
}
.icons{
  width: 1%;
  margin-top: 1%;
}
#Buscar {
  width: 10%;
  height: 45px;
  border-radius: 5px;
  padding: 5px;
  background-color: #e41d3e;
  border: 0;
  color: #F5F5F5;
  font-size: 20px;
  cursor: pointer;
}
.categorias-servicos1,.categorias-servicos2{
  display: flex;
  height: 190px;
  width: 100%;
  justify-content: center;
  margin-top: 3%;
}
.categorias-servicos1,.categorias-servicos2{
  gap: 3%;
}
.servece1,.servece2{
 color: white;
 padding-left: 2%;
 padding-top: 2%;
 width: 29%;
 height: 100%;
 border-radius: 18px;
}
.text-Restaurantes,.text-Mercado{
 font-size: 23px;
}
.servece1{
 background-color: #EA1D2C;
}
.servece2{
  background-color: #B6D048;
}
.servece3,.servece4,.servece5{
  width: 13.6%;
  height: 100%;
  border-radius: 10px;
  background-color: #9ce22c;
  margin-top: 2%;
}
.restaurante{
  display: flex;
  padding-top: 19%;
}
.mercado{
  display: flex;
  padding-top: 15.2%;
}
.burg-img{
  transform: translate(0px, -18px);
  width: 100vh;
}
.carrinho-img{
  transform: translate(0px, -120%);
  width: 100vh;
}
.box1, .box2{
  width: 100%;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-top: -32%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2{
  margin-top: -28%;
}
.restaurante,.mercado{
  width: 95%;
  margin-top: 125px;
}
.burg-img{
  transform: translate(0px, -130%);
}

@media (max-width: 468px) {

.menu ul li a,.inicio {
  display: none;
}
.busca {
  flex-direction: column;
  align-items: center;
}
#Caixa-Pesquisa{
  width: 95%;
}
.icons{
  display: none;
}
#Buscar{
  width: 98%;
}
.Entrar{
  margin-right: 20px;
}
.criarcont{
  display: none;
}
header {
  justify-content: space-between;
}
.servece1,.servece2{
  width: 42%;
}
.servece3,.servece4,.servece5{
  width: 26.5%;
  height: 60%;
  margin-top: 5%;
}
.categorias-servicos1{
  gap: 6%;
}
.categorias-servicos2{
  gap: 5%;
}
.restaurante,.mercado{
  width: 95%;
  height: auto;
  display: block;
  align-items: center;
  margin-top: 75%;
}
.burg-img,.carrinho-img{
  transform: translate(1px, -130%);
  width: 16vh;
}
.carrinho-img{
  transform: translate(12px, -120%);
}

.box1, .box2{
  width: 80%;
  height: 30px;
  display: flex;
  margin-left: 10%;
}
.text-Restaurantes,.text-Mercado{
 font-size: 13px;
 text-align: center;
}
}
